*.o
src/conf.h
src/conf.c
src/config.h
*.in
config.log
config.status
*.m4
autom4te.cache
Makefile
configure
depcomp
install-sh
missing
.deps
.dirstamp
compile
src/bip
src/bipmkpw
src/bipcrypt
src/lex.c
stamp-h1
ylwrap